streamlit==1.49.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
Pillow==11.3.0
torch==2.8.0
torchvision==0.23.0
Collecting numpy==1.26.4
Downloading numpy-1.26.4.tar.gz
Installing build dependencies
