streamlit
opencv-python-headless
pillow
numpy
rembg
transformers
plotly
accelerate
huggingface-hub
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
